---
layout: default
---
<h1>About me</h1>
<article style="border-bottom: 1px solid #ebebeb">
  <img src="/images/about.jpg" alt="Sarunas Tamasauskas" style="float: right; width: 180px; padding: 6px; border-radius: 5%">
  <p>
    Originally I am from Lithuania. I was always interested in different kinds of media - creating, editing and sharing it. When I was still in school, during the summer holidays, I would come up with interesting project ideas. One of them was to build a website. I got a simple book on how to build websites and slowly started learning. Funny enough It was so interesting to me that I went to the UK to study Web Development & Design. 
  </p>
  <h3>What am I doing now ?</h3>
  <p>
    Currently I am living in Germany, Berlin and working at <a href="http://www.futurice.com/" rel="noreferrer">
    Futurice</a>. I mainly focus on Frontend but now and then I have to deal with Backend. On a daily basis I work with <strong>Node</strong> and
    <strong>React</strong>. At the moment I am interested in learning Reactive and Functional Programming.
  </p>
  <p>Besides learning and experimenting with new frameworks and technologies I enjoy hiking and taking pictures. If you want to see my recent shots you can easily find them on <a
        href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank">Flickr</a>.</p>

  <p class="about-contact"><strong>Find me on:</strong>
    <span style="padding-left: 0.4rem">{% include svg-icons.html %}</span>
  </p>

</article>

<h2>Latest blog posts</h2>
<p class="posts">
  {% for post in site.posts %}
  <span style="display: block; padding-bottom: 3px">
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y-%m" }})
  </span>
  {% endfor %}
</p>
