//
// VARIABLES
//

// Font-awesome
$fa-font-path: "//cdn.jsdelivr.net/fontawesome/4.5.0/fonts" !default; // for referencing CDN font files directly

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
//$gray: #666;
$lightGray: #eee;
$white: #fff;

// *************** Bootstrap *******************
$line-height: 1.6 !default;
$gray-dark: rgba(0, 0, 0, 0.7) !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$brand-primary: $blue !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$enable-transitions: false !default;

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$font-size-base: 1.3rem !default;
$font-size-lg: 1.3rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$font-size-h1: 2.0rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.5rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 0.75rem !default;
$headings-line-height: 1.5 !default;

// END *************** Bootstrap *******************

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$sourceSans: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
